<body>
    <div class="body-formulario fondo-oscuro">
    <div class="formulario-container">
        <h1>Crear un nuevo país</h1>
        <form id="formAgregar">
            <div class="form-grupo">
                <label for="nombrePais">Nombre:</label>
                <!-- <input type="text" id="nombrePais" name="nombrePais" minlength="3" maxlength="90" required -->
                <input type="text" id="nombrePais" name="nombrePais"
                    ><br><br>
            </div>

            <div class="form-grupo">
                <label for="capital">Capital: (separados por comas en caso de ser más de una)</label>
                <input type="text" id="capital" name="capital"><br><br>
            </div>

            <div class="form-grupo">
                <label for="fronteras">Fronteras: (separados por comas)</label>
                <input type="text" id="fronteras" name="fronteras" ><br><br>
            </div>

            <div class="form-grupo">
                <label for="area">Área:</label>
                <input type="number" id="area" name="area" min="0" ><br><br>
            </div>

            <div class="form-grupo">
                <label for="poblacion">Población:</label>
                <input type="number" id="poblacion" name="poblacion" min="0"  ><br><br>
            </div>

            <h2>Indice gini</h2>
            <div class="form-grupo">
                <label for="aniogini">Año:</label>
                <input type="number" id="aniogini" name="aniogini" min="0" max="2024">&nbsp;<br><br>
                <label for="valorgini">Valor:</label>
                <input type="number" id="valorgini" name="valorgini" min="0" max="100" ><br><br>
            </div>

            <div class="form-grupo">
                <label for="timezones">Zonas horarias: (separadas por comas)</label>
                <input type="text" id="timezones" name="timezones" ><br><br>
            </div>


            <button type="submit" id="btnCrearPais" class="boton-aceptar">Crear País</button>
        </form>
        <script src="/js/addScripts.js"> </script>
    </div>
</body>
