<nav>
    <div class="navbar">
        <a href="/">Inicio</a>
        <a href="/paises">Lista de Países</a>
        <a href="/paises/nuevo">Crear un nuevo País</a>
        <a href="/paises/obtener">Todos los Países</a>
        <a href="/paises/vaciar">Eliminar Países</a>

    </div>

</nav>